.kop-wrapper {
  width: 100%;
  margin-bottom: 12px;
}

/* HEADER FLEX */
.kop-header {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-bottom: 4px;
}

/* LOGO */
.kop-logo img {
  object-fit: contain;
}

/* TEXT CENTER */
.kop-text {
  flex: 1;
  text-align: center;
  font-family: "Times New Roman", serif;
  line-height: 1.3;
}

/* YAYASAN */
.kop-yayasan {
  font-weight: bold;
  font-size: 10pt;
}

/* SEKOLAH */
.kop-sekolah {
  font-weight: bold;
  font-size: 22pt;
  color: blue;
}

/* NPSN + AKREDITASI */
.kop-info {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  font-size: 12pt;
}

.kop-gap {
  width: 60px;
}

/* ALAMAT */
.kop-alamat {
  font-size: 9pt;
  margin-top: 2px;
}

/* DOUBLE UNDERLINE */
.kop-line {
  width: 100%;
}

.kop-line-thin {
  border-top: 1px solid #000;
  margin-bottom: 2px;
}

.kop-line-thick {
  border-top: 3px solid #000;
}
